[submodule "bundle/vinarise"]
	path = bundle/vinarise
	url = https://github.com/Shougo/vinarise.vim.git
[submodule "bundle/schlepp"]
	path = bundle/schlepp
	url = https://github.com/zirrostig/vim-schlepp.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
